  <div class="container">
      <div class="about">
          <h3>Upload new piece</h3>
        <form  >
                    <div class="contact-bottom"><br>
				<h4>Name</h4><input type="text" ng-model="newPiece.name"  required><br><br>

				<h4>Category</h4><select id="sel" class="input-block-level" ng-model="newPiece.category" ng-options="obj.pk as obj.fields.name for obj in categories" required/><br><br>

				 <h4>Duration</h4><input type="number"  min="0"   ng-model="newPiece.duration" value="Duration" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Duration';}"><br>
                        <button type="file" ngf-select="addCover($files)" ngf-multiple="false" class="btn btn-warning">
                            Select ImageCover
                        </button>

                        <input type="text" ng-model="newPiece.cover[0].name" ng-show=" newPiece.cover.length > 0" disabled><br>

                        <button type="file" ngf-select="addSound($files)" ngf-multiple="false" class="btn btn-warning">
                            Select Piece
                        </button>
                        <input type="text" ng-model="newPiece.sound[0].name" ng-show=" newPiece.sound.length > 0" disabled><br>
                        <button type="submit" ng-click="addPiece()" class="btn btn-warning">
                            Submit
                        </button>
                        </div>
        </form>
          <div class="alert alert-danger" ng-show=" Errors.length > 0" ng-repeat="err in Errors">
            <strong>Danger!</strong> {{ err }}
          </div>
                <div ng-show="Files.length > 0">
                    <div ng-repeat="file in Files">
                        File:
                        <div>
                            {{file.name}} {{file.$error}} {{file.$errorParam}}
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.Progress}}%;">
                                {{file.Progress | number:0}}%
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">Processing, please wait...</div>
                        <div class="alert alert-success" role="alert" ng-show="file.Success && upload.success">your piece has been successfully uploaded !</div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                        Oooops we had trouble uploading the file. Please refresh the page and try again.
                        <p>If the problem persits please supply us with the following details</p>
                        <p>{{errorMsg}}</p>
                    </div>
                    <div>{{Error}}</div>


                            </div>

   </div> </div>