<div class="topstr">
    <div class="container">
        <table>
            <tr>
                <td><label for="name">Nombre de la obra</label></td>
                <td><input type="text" data-ng-model="piece.name" /></td>
            </tr>
            <tr>
                <td><label for="url">Url</label></td>
                <td><input type="text" data-ng-model="piece.url" /></td>
            </tr>
            <tr>
                <td><label for="image_cover">Cover</label></td>
                <td><input type="text" data-ng-model="piece.image_cover" /></td>
            </tr>
            <tr>
                <td><label for="duration">Duración</label></td>
                <td><input type="text" data-ng-model="piece.duration" /></td>
            </tr>
            <tr>
                <td><label for="category">Genero</label></td>
                <td>
                    <select type="text" data-ng-model="piece.category">
                        <option value="0">-Seleccione el artista-</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="artist">Artista</label></td>
                <td>
                    <select type="text" data-ng-model="piece.artist">
                        <option value="0">-Seleccione el artista-</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>