<div class="topstr">
    <div class="container">
        <div class="col-md-6 topstr-left" data-ng-repeat="piece in pieces">
            <div class="tp-lt">
                <div class="top-lft">
                    <img src="{{ piece.fields.image_cover }}" alt=" " class="img-responsive">
                </div>
                <div class="top-rgt">
                    <h4>{{ piece.fields.name }}</h4>
                    <p><b>Duration: </b>{{ piece.fields.duration }}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>