<div class="events">
    <div class="container">
        <div class="col-md-9 events-left">
            <div class="eve-top">
                <div class="col-md-5 eve-lt">
                    <div>
                        <img src="{{ piece.fields.image_cover }}" alt=" " class="img-responsive">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-7 container">
                    <h4>{{ piece.fields.name }}</h4>
                    <p><b>Duration: </b> {{ piece.fields.duration }}</p>
                    <div>
                        <img src="http://square-squared.com/Images/play-button1.png" alt=" " class="img-responsive"
                             style="height: 150px">
                    </div>
                    <br>
                    <br>
                    <div>
                        <h2 ng-if="!hasLyrics">
                            <a href=""><span class="label label-default"
                                             ng-click="toggleLyricsInput()">Add lyrics</span></a>
                        </h2>
                        <h2 ng-if="hasLyrics">
                            <a href=""><span class="label label-default">View lyrics</span></a>
                        </h2>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="eve-top" ng-if="viewLyricsInput">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <textarea rows="10" style="width: 100%" ng-model="lyrics"></textarea>
                    <div style="text-align: right">
                        <label style="font-size: 200%" ng-click="saveLyrics(lyrics)">
                            <a href=""><span class="label label-default">Save</span></a>
                        </label>
                        <label style="font-size: 200%" ng-click="discardLyrics()">
                            <a href="">
                                <span class="label label-default">Cancel</span>
                            </a>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>