<div class="about">
	<div class="container">
		<h3>About me</h3>
			<div class="ab-top">
				<div class="col-md-6 ab-lft">
					<img src="images/1.jpg" alt=" " class="img-responsive">
				</div>
				<div class="col-md-6 ab-rgt">
					<h4>Slightly believable</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and words which don't look even slightly dummy text of the printing and words which don't look even slightly believable.</p>
					<p> If words which don't look even slightly believable. If  believable. If words which don't look even slightly believable. If you are  are going to use a passage of Lorem Ipsum typesetting industry. Lorem Ipsum has beenLorem Ipsum is simply dummy text of the printing and words which don't look even slightly believable. If words which don't look even slightly believable. If you are  are going to use a passage of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  the industry's standard dummy text ever since the 1500s, </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<h3>Biography</h3>
			<div class="ab-btm">
				<div class="ab-l">
					<h6>2010 -</h6>
				</div>
				<div class="ab-r">
					<p>Lorem Ipsum is simply dummy text of the printing and words which don't look even slightly dummy text of the printing and  Lorem Ipsum typesetting industry. Lorem Ipsum has been the  words which don't look even slightly believable.</p>
				</div>
					<div class="clearfix"></div>
			</div>
			<div class="ab-btm">
				<div class="ab-l">
					<h6>2011 -</h6>
				</div>
				<div class="ab-r">
					<p>Lorem Ipsum is simply dummy text of the printing and words which don't look even slightly dummy text of the printing and words which  Lorem Ipsum typesetting industry. Lorem Ipsum has been the  don't look even slightly believable.</p>
				</div>
					<div class="clearfix"></div>
			</div>
			<div class="ab-btm">
				<div class="ab-l">
					<h6>2012 -</h6>
				</div>
				<div class="ab-r">
					<p>Lorem Ipsum is simply dummy text of the printing and words which don't look even slightly dummy text of the  Lorem Ipsum typesetting industry. Lorem Ipsum has been the  printing and words which don't look even slightly believable.</p>
				</div>
					<div class="clearfix"></div>
			</div>
			<div class="ab-btm">
				<div class="ab-l">
					<h6>2013 -</h6>
				</div>
				<div class="ab-r">
					<p>Lorem Ipsum is simply dummy text  Lorem Ipsum typesetting industry. Lorem Ipsum has been the  of the printing and words which don't look even slightly dummy text of the printing and words which don't look even slightly believable.</p>
				</div>
					<div class="clearfix"></div>
			</div>
			<div class="ab-btm">
				<div class="ab-l">
					<h6>2014 -</h6>
				</div>
				<div class="ab-r">
					<p>Lorem Ipsum is simply dummy text of the printing  Lorem Ipsum typesetting industry. Lorem Ipsum has been the  and words which don't look even slightly dummy text of the printing and words which don't look even slightly believable.</p>
				</div>
					<div class="clearfix"></div>
			</div>
			<div class="ab-btm">
				<div class="ab-l">
					<h6>2015 -</h6>
				</div>
				<div class="ab-r">
					<p>Lorem Ipsum is simply dummy text of the printing and words  Lorem Ipsum typesetting industry. Lorem Ipsum has been the  which don't look even slightly dummy text of the printing and words which don't look even slightly believable.</p>
				</div>
					<div class="clearfix"></div>
			</div>
	</div>
</div>